* {
  font-family: 'Noto Sans JP', sans-serif;
}

header {
  background-color: rgb(190, 124, 0);
  height: 50px;
}

h1 {
  letter-spacing: 0.05rem;
}

header > h1 {
  margin: 0;
  padding-left: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
}

textarea {
  height: 8rem;
}

.container {
  background-color: rgb(235, 235, 235);
  padding: 1rem;
}

.entry-image {
  border-radius: 2rem;
  width: 98%;
  margin-bottom: 1rem;
}

.input-div {
  padding: 1rem 0.1rem;
}

ul {
  padding-left: 0;
}
